# LaTeX temporary files
*.aux*
*.log
*.toc
*.*busy*
*.*swp
*.thm

# PDF output - usually a bad idea to keep this in Git
*.pdf

# additional
*.fls
*.idx
*.ilg
*.ind

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace

tex/ResultsSummary/theorems.tex
tex/ResultsSummary/BFinito_merged.tex
*.BAK

#
*.dep
*.dpth
*.md5

# macOS garbage
.DS_Store


#datasets 
mushrooms.libsvm
mushrooms
a5a
phishing
svmguide3
heart_scale
abalone
housing_scale
cpusmall_scale